

<h2><%= @survey.name %></h2>
<p><%= @survey.description %></p>

<div class="survey-container">
  <h4><%= @question.content%></h4>
    <%@question.choices.each do |choice|%>

      <form id="question<%=@question.id%>" name="answer_question" action="/surveys/<%=@survey.id%>/questions/<%=(@question.id+1)%>/choices/<%=choice.id%>" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="question_id" value="<%= @question.id %>">
      <input type="radio" name="content" value="<%= choice.content%>"> <%=choice.content%>
      <input type="hidden" name="selected" value="<%=true%>">
      <br><br>
    <%end%>
      <input type="submit" value="submit">
</form>
</div>
